

<div class="container text-center">
    <div class="row border-bottom border-4 my-4">

        <div class="col">
            
            <h1 class="display-1">Tech Talk</h1>
            <p class="fs-4 lh-1 text-muted pt-3">No nonsense: Bootstrap includes several ol.</p>
            <button type="button" class="btn btn-primary mt-3 mb-3 fs-5 mt-5">Primary</button>
        </div>
        <div class="col">
            
            <h1 class="display-1">Mann ki Baat</h1>
                
        </div>
      
    </div>
  </div> 

